    /* RESET */
    
    * {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    
     :root {
        /* VARIAVEIS*/
        --laranja: #FF9D2E;
        --azul: #45AAB8;
        --bg_color: #F0F0F0;
        --branco: #ffffff;
        --preto: #121213;
        --cinza: #9b9bb1;
        --logo_font: 'Fredoka One', cursive;
        --font: 'Josefin Sans', sans-serif;
    }

    /* SCROLLBAR*/
    ::-webkit-scrollbar {
        width: 5px;
      }
      /* fundinho*/
      ::-webkit-scrollbar-track {
        background: var(--bg_color);
      }
      /* barrinha*/
      ::-webkit-scrollbar-thumb {
        border-radius: 1rem;
        background: var(--azul);
      }
      /* segurando barrinha */
      ::-webkit-scrollbar-thumb:hover {
        background: var(--laranja);
      }
      
    
    body {
        background-color: var(--bg_color);
    }

    /* padrao texto*/
    p,
    h1 {
        color: var(--branco);
        font-family: var(--font);
        font-size: 1rem;
    }
    /* divisaozinha*/
    
    .divisao {
        border-image: linear-gradient(to right, transparent, var(--azul), transparent);
        border-image-slice: 1;
        padding-bottom: 2rem;
        border-bottom: .175rem solid transparent;
    }

    /* centralizando*/
    main .container .text p,
    footer .redes .text p,
    footer .infos {
        display: flexbox;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    /*setinha pro inicio da pag*/
    .back-to-top { 
    position: fixed; /*independente de rolagem ele está fixo =/= do absolute*/
    right: 1rem;
    bottom: 1rem;
  
    padding: 0.5rem;
    clip-path: circle();
  
    font-size: 1.5rem;
    line-height: 0;
  
    visibility: hidden;
    opacity: 0;
  
    transition: 0.3s;
    transform: translateY(100%); /*faz o botão ter uma animação*/
  }
  
  .back-to-top.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
    
    /* HEADER */
    header{
        position: fixed;
        top: 0;
        z-index: 100;
        width: 100%;
        background-color: var(--bg_color);
    }

    /*sombrinha quando rolar a pagina*/
    header.scroll {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
    }

    header .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5rem;
        width: 100%;
        border-bottom: .1rem solid var(--cinza);
    }

    header .logo img {
        padding: .6rem;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
    }
    
    header .logo h2 {
        color: var(--laranja);
        font-size: 2rem;
        font-family: var(--logo_font);
    }
    
    header .logo form {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    header .logo form input[type=text] {
        border-radius: .8rem;
        border: .13rem solid var(--cinza);
        padding: .3rem;
        margin-left: 3rem;
        height: 1.5rem;
        width: 20rem;
        font-size: 1.2rem;
        font-family: var(--font);
    }
    
    header .logo input[type=text]:focus {
        border: solid var(--laranja);
        outline: none;
    }
    
    header .logo form button {
        cursor: pointer;
    }
    
    header .logo form button img,
    .back-to-top img {
        color: var(--laranja);
        height: 2.5rem;
        width: 2.5rem;
    }
    /* ASIDE */
    
    aside .container {
        margin-top: 2rem;
        background-color: var(--azul);
    }
    
    aside .container {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    aside .container img {
        height: 30rem;
        width: 30rem;
    }
    
    aside .container .text {
        display: block;
        align-items: center;
        padding: 2rem;
    }
    
    aside .container .text h1 {
        margin-bottom: 1rem;
        font-weight: 800;
        font-size: 4rem;
    }
    
    aside .container .text p {
        display: flex;
        justify-content: flex-end;
        font-size: 2rem;
    }
    
    aside .container .text img,
    main .container .text img,
    footer .infos img,
    footer .redes .text img{
        width: 4rem;
        height: 4rem;
    }
    aside .promocoes{
        /* colocar 4 objetos do mesmo tamanho/espaco/etc*/
        display: grid;
        gap: .3rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        /*ele fica centralizado*/
        place-items: center;
        margin-top: 2rem;
    }
    
    aside .promocoes p {
        display: flex;
        align-items: center;
        justify-items: center;
        color: var(--preto);
        font-size: 1.5rem;
    }
    
    aside .promocoes p img,
    footer .infos a img {
        margin-right: .5rem;
        width: 3rem;
        height: 3rem;
    }
    /* MAIN */
    
    main .container {
        display: block;
        padding: 2rem;
    }
    
    main .container .text p,
    footer .redes .text p {
        display: flex;
        padding: 1rem;
        font-size: 2rem;
        color: var(--laranja);
        font-family: var(--logo_font);
    }
    
    main .container .text p img {
        margin-right: .5rem;
    }
    
    main .container .racoes,
    footer .redes .icones {
        display: grid;
        gap: 3rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-bottom: 2rem;
    }
    
    main .container .racao {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: .5rem;
        border-radius: .4rem;
    }
    
    main .container .racao p {
        font-size: 1.5rem;
        font-weight: 800;
        color: var(--laranja);
    }
    
    main .container .racao img {
        padding: .5rem;
        width: 10rem;
        height: 10rem;
    }
    
    main .container .racao button {
        cursor: pointer;
        margin: 1rem;
        width: 10rem;
        height: 2.25rem;
        color: var(--azul);
        font-weight: 800;
        font-family: var(--font);
        font-size: 1.25rem;
        border: .2rem solid var(--azul);
        border-radius: .8rem;
        -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
        transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    }
    
    main .container .racao button:hover {
        color: var(--branco);
        background-color: var(--azul);
        box-shadow: 0 0 40px 40px var(--azul) inset;
    }
    /* FOOTER */
    
    footer .infos {
        display: flex;
        margin-bottom: 2rem;
    }
    
    footer .infos p a {
        text-decoration: none;
        cursor: pointer;
        padding: .5rem;    


        background-color: var(--azul);
        border-radius: .8rem;
        color: var(--branco);
    }

    
    footer .infos img {
        margin-left: 1rem;
    }
    
    footer .redes .icones {
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
    }


    /***** RESPONSIVIDADE *****/

    /* TELA MEDIA */
    @media (max-width: 1200px){
        p,
        h1 {
            font-size: 1rem;
        }

        /*HEADER*/
        header .logo {
            height: 3.5rem;
        }
        
        header .logo img {
            padding: .6rem;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
        }
        
        header .logo h2 {
            font-size: 1.5rem;
        }
        
        /*js? quando clicar aparece modal???*/
        header .logo form input[type=text],
        header .logo form button img {
            display: none
        }

        /*ASIDE*/
        
        aside .container img {
            height: 10rem;
            width: 10rem;
        }
        
        aside .container .text {
            padding: 1rem;
        }
        
        aside .container .text h1 {
            font-size: 2rem;
        }
        
        aside .container .text p {
            font-size: 1rem;
        }
        
        aside .container .text img,
        main .container .text img,
        footer .infos img,
        footer .redes .text img{
            width: 2rem;
            height: 2rem;
        }
        
        aside .promocoes,
        footer .infos {
            gap: .03rem;
            margin-top: 2rem;
        }
        
        aside .promocoes p,
        footer .infos a {
            font-size: 1.15rem;
        }
        
        aside .promocoes p img,
        footer .infos a img {
            margin-right: .25rem;
            width: 1.5rem;
            height: 1.5rem;
        }


        /*MAIN*/

        main .container {
            display: block;
            padding: 1rem;
        }
        
        main .container .text p,
        footer .redes .text p {
            display: flex;
            padding: .5rem;
            font-size: 1.5rem;
        }
        
        main .container .text p img {
            margin-right: .5rem;
        }
        
        main .container .racoes,
        footer .infos a
        footer .redes .icones {
            display: grid;
            gap: .1rem;
            grid-template-columns: 1fr 1fr;
            padding-bottom: 1rem;
        }
        footer .redes .icones {
            grid-template-columns: 1fr 1fr 1fr;

        }
        
        main .container .racao {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: .5rem;
            border-radius: .4rem;
        }
        
        main .container .racao p {
            font-size: 1.5rem;
            font-weight: 800;
            color: var(--laranja);
        }
        
        main .container .racao img {
            padding: .5rem;
            width: 4rem;
            height: 4rem;
        }
        
        main .container .racao button {
            margin: 1rem;
            width: 5rem;
            height: 2.25rem;
            font-size: .9rem;
        }

        /*FOOTTER*/

        footer .infos {
            margin-bottom: 1rem;
        }
        
        footer .infos a {
            padding: 1rem;
            /* height: 2.5rem;
            width: 5rem; */
        }
        footer .infos img {
            display: none;
        }


    }

    /* TELA PEQUENA */
    @media (max-width: 500px){

        /*ASIDE*/
        
        aside .container img {
            height: 12rem;
            width: 12rem;
        }
        
        aside .container .text {
            padding: .5rem;
        }
        
        aside .promocoes p,
        footer .infos a {
            font-size: 1rem;
        }
        
        /*MAIN*/

        main .container .text p,
        footer .redes .text p {
            display: flex;
        }

        main .container .racoes,
        footer .infos a
        footer .redes .icones {
            grid-template-columns: 1fr;
        }
        
        main .container .racao {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: .5rem;
            border-radius: .4rem;
        }
        
        main .container .racao p {
            font-size: 1.5rem;
            font-weight: 800;
            color: var(--laranja);
        }
        
        main .container .racao img {
            padding: .5rem;
            width: 4rem;
            height: 4rem;
        }
        
        main .container .racao button {
            margin: 1rem;
            width: 5rem;
            height: 2.25rem;
            font-size: .9rem;
        }

        /*FOOTER*/

        footer .infos {
            margin-bottom: 1rem;
        }
        
        footer .infos {
            display: none;
        }

        footer .redes .icones img{
            width: 2rem;
            height: 2rem;
        }
        
    }