<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bom Pra Cachorro!</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="style.css" media="screen" />
    <!-- FONTES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Josefin+Sans:wght@400;700&&display=swap" rel="stylesheet">

</head>

<body>

    <header>
        <div class="logo">
            <!-- logo foto + nome-->
            <img src="images/logo.jpg" alt="logo com gato e cachorro">
            <h2>Bom Pra Cachorro!</h2>
            <!-- um input + um button para consulta de produtos-->
            <form action="" name="pesquisa">
                <input type="text" name="procurar_text" placeholder="procurar">
                <button type="button" name="procurar-button">
                    <img src="https://img.icons8.com/ios-filled/100/FF9D2E/search--v1.png"/>
                </button>
            </form>
        </div>
    </header>

    <aside>
        <!-- foto + texto em fundo azul -->
        <div class="container">
            <img src="images/cao_aside.png" alt="cachorro amarelo">

            <div class="text">
                <h1>Rações Bom Pra Cachorro! (e gatos) </h1>
                <p>
                    Compre as melhores rações para seu bichinho
                    <img src="https://img.icons8.com/external-icongeek26-glyph-icongeek26/64/ffffff/external-paws-pet-care-icongeek26-glyph-icongeek26.png" />
                </p>
            </div>
        </div>
        <!-- icones + texto informando promocoes do site -->
        <div class="promocoes">
            <p>
                <img src="https://img.icons8.com/ios-filled/100/FF9D2E/free-shipping.png" />
                Frete Gratis
            </p>
            <p>
                <img src="https://img.icons8.com/external-kiranshastry-solid-kiranshastry/64/FF9D2E/external-payment-economy-kiranshastry-solid-kiranshastry.png" />
                3x sem juros
            </p>
            <p>
                <img src="https://img.icons8.com/ios-filled/100/FF9D2E/shopping-bag.png" />
                Receba em Casa
            </p>
            <p>
                <img src="https://img.icons8.com/ios-filled/100/FF9D2E/discount--v1.png" />
                Descontos Exclusivos
            </p>

        </div>
    </aside>

    <main>
        <!--divisão para separar tipos de produtos-->
        <div class="divisao"></div>

        <div class="container">

            <!-- texto centralizado informando o tipo de produto-->
            <div class="text">
                <p>
                    <img src="https://img.icons8.com/external-icongeek26-glyph-icongeek26/64/FF9D2E/external-paws-pet-care-icongeek26-glyph-icongeek26.png" /> Rações para Cachorro
                </p>
            </div>

            <!-- div contendo os produtos -->
            <div class="racoes">
                <!-- objeto + cor -->
                <form action="" class="racao">
                    <!-- foto do objeto + nome + preço + botão -->
                    <img src="images/racao1.png" alt="racao para cachorro Magnus">
                    <p> Ração Magnus
                        <p>
                            <p>R$ 95,00</p>
                            <button name="comprar-cao-M">Eu Quero</button>
                </form>

                <form action="" class="racao">
                    <img src="images/racao2.webp" alt="racao para cachorro Pedigree">
                    <p> Ração Pedigree
                        <p>
                            <p>R$ 154,00</p>
                            <button name="comprar-cao-P">Eu Quero</button>
                </form>

                <form action="" class="racao">
                    <img src="images/racao3.webp" alt="racao para cachorro Champ">
                    <p> Ração Champ
                        <p>
                            <p>R$ 110,00</p>
                            <button name="comprar-cao-C">Eu Quero</button>
                </form>

                <form action="" class="racao">
                    <img src="images/racao4.png" alt="racao para cachorro Dexter">
                    <p> Ração Dexter
                        <p>
                            <p>R$ 121,00</p>
                            <button name="comprar-cao-D">Eu Quero</button>
                </form>
            </div>

            <div class="divisao"></div>

            <div class="container">

                <!-- texto repetido, da pra mudar com var e bd -->
                <div class="text">
                    <p>
                        <img src="https://img.icons8.com/external-icongeek26-glyph-icongeek26/64/FF9D2E/external-paws-pet-care-icongeek26-glyph-icongeek26.png" /> Rações para Gato
                    </p>
                </div>

                <div class="racoes">
                    <form action="" class="racao">
                        <img src="images/ragato1.webp" alt="racao para gato Whiskas">
                        <p> Ração Whiskas
                            <p>
                                <p>R$ 169,00</p>
                                <button name="comprar-cao-M">Eu Quero</button>
                    </form>

                    <form action="" class="racao">
                        <img src="images/ragato2.webp" alt="racao para gato One">
                        <p> Ração One
                            <p>
                                <p>R$ 174,00</p>
                                <button name="comprar-cao-P">Eu Quero</button>
                    </form>

                    <form action="" class="racao">
                        <img src="images/ragato3.png" alt="racao para gato Magnus">
                        <p> Ração Magnus
                            <p>
                                <p>R$ 112,00</p>
                                <button name="comprar-cao-C">Eu Quero</button>
                    </form>

                    <form action="" class="racao">
                        <img src="images/ragato4.png" alt="racao para gato Formula Natural">
                        <p> Ração Formula Natural
                            <p>
                                <p>R$ 280,00</p>
                                <button name="comprar-cao-D">Eu Quero</button>
                    </form>
                </div>
    </main>

    <footer>
        <!-- info sobre a empresa/trabalhe conosco/nossas lojas = icon + texto-->
        <div class="infos">
            <p>
                <a href="">
                    <img src="https://img.icons8.com/external-icongeek26-glyph-icongeek26/64/ffffff/external-paws-pet-care-icongeek26-glyph-icongeek26.png" />
                    Sobre a Bom Pra Cachorro
                </a>
            </p>

            <p>
                <a href="">
                    <img src="https://img.icons8.com/glyph-neue/64/ffffff/headset--v2.png" />
                    Central do Cliente
                </a>
            </p>

            <p>
                <a href="">
                    <img src="https://img.icons8.com/ios-filled/50/ffffff/shop.png" /> 
                    Nossas Lojas
                </a>
            </p>

            <p>
                <a href="">
                    <img src="https://img.icons8.com/fluency-systems-filled/48/ffffff/briefcase.png" /> 
                    Trabalhe Conosco
                </a>
            </p>
        </div>
        <div class="redes">

            <div class="text">
                <p>
                    <img src="https://img.icons8.com/external-icongeek26-glyph-icongeek26/64/FF9D2E/external-paws-pet-care-icongeek26-glyph-icongeek26.png" />
                    Acesse nossas Redes Sociais
                </p>
            </div>
            <div class="icones">
                <p>
                    <a href="#">
                        <img src="https://img.icons8.com/ios-filled/50/45AAB8/twitter.png" />
                    </a>
                </p>
                
                <p>
                    <a href="#">
                        <img src="https://img.icons8.com/ios-filled/50/45AAB8/facebook-new.png" />
                    </a>
                </p>
                
                <p>
                    <a href="#">
                        <img src="https://img.icons8.com/ios-filled/50/45AAB8/instagram-new--v1.png" />
                    </a>
                </p>
                
            </div>

        </div>
    </footer>

</body>

</html>